*{
	box-sizing: border-box;
	
}

body {
	background-color: #F6F6F6;
	padding-bottom: 30px;
	color: #000000;
		
padding-top: 30px;}

h1{
	text-align: center;
	font-size: 50px;
}

.calculator{ 
background-color: rgb(169,169,169);
max-width: 400px;
margin: 0 auto;
border: 2px solid #111;
border-radius: 10px;
color: #000000;
}

.calculator input {	
    color: #000000;
	grid-gap: 20px;
	background-color: #DCDCDC;
	border: none;
	width: 90%;
	border-left: 3px solid white;
	border-top: 3px solid white;
	padding: 20px;
	text-align: right;
	font-size: 40px;
	color: black;
	position: relative;
	left: 20px;
	top: 10px;
		
}

.calculator-buttons{
	padding: 20px;
	display: grid;
	grid-template-columns:repeat(4,1fr);
	grid-template-rows:repeat(5,1fr);
	grid-gap: 10px;
	}

.calc-button {
	background-color: #DCDCDC;
	border: 1px solid #696969;
	padding: 20px;
	color: #111;
	font-size: 25px;

}

.calc-button-plus{	
	grid-row: span 2; 
	background-color: #DCDCDC;
	border: 1px solid #111;
	padding: 20px;
	color: #111;
	font-size: 25px;	
	border-left: 3px solid white;
	border-top: 3px solid white;
}
.calc-button-zero{
	grid-column: span 2;
	background-color: #DCDCDC;
	border: 1px solid #111;
	padding: 20px;
	color: #111;
	font-size: 25px;
	border-left: 3px solid white;
	border-top: 3px solid white;
}