body {font-family: times new roman;
background-color: rgb(173,216,230);}
h1{
color: rgb(0,0,128);}

label {
font-weight: bolder;
color: rgb(0,128,128);
}

p {
font-weight: bolder;
color: rgb(0,128,128);

font-size: 30px;
}